# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages
- Commonly used libraries
- Development environment open source tools
- Arithmetic expression examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scientific Computing Librarie
2. Visualization Librarie
3. High Level Machine Learning

| Data Science Tools |
| ------------------ |
| Jupyter Lab |
| VS Code |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Luis Acevedo